---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Footer from '../components/layout/Footer.astro';
---

<BaseLayout>
  <main class="relative" style="z-index: 1;">
    <Hero />
    <About />
    <Projects />
    <Experience />
  </main>
  <div class="relative" style="z-index: 1;"><Footer /></div>
</BaseLayout>
